<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">


        <!-- 声明组件扫描器，指定@Controller注解的包名-->
        <context:component-scan base-package="com.wangzhao.controllers"/>

        <!-- 声明视图解析器对象：框架提供的类，处理视图的
             实现ViewResolver接口的类叫做视图解析器
        -->
        <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
            <!-- 指定前缀，表示视图文件的前缀-->
            <property name="prefix" value="/WEB-INF/jsp/" />
            <!-- 指定后置，表示视图文件的后缀-->
            <property name="suffix" value=".jsp" />
        </bean>

        <mvc:resources location="/images/" mapping="/images/**"/>
        <!-- 静态资源和@RequestMapping存在冲突 -->
        <mvc:annotation-driven/>

        <!-- 声明拦截器对象，指定拦截器的URI-->
        <mvc:interceptors>
            <!-- 第一个拦截器 -->
            <mvc:interceptor>
                <!-- 拦截的URI -->
                <mvc:mapping path="/**"/>
                <!-- 指定拦截器-->
                <bean class="com.wangzhao.interceptor.MyInterceptor"/>
            </mvc:interceptor>
        </mvc:interceptors>

</beans> 
